# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Erlang/OTP and contributors
<egil@erlang.org> <psyeugenic@gmail.com>
<kostis@cs.ntua.gr> <kostis@it.uu.se>
<raimo@erlang.org> <raimo.niskanen@ericsson.com>
